<!-- 1.Template(html) bloc -->
<template>
  <p><img alt="Vue logo" src="./assets/logo.png"></p>
  <h1>Hello {{ name }} {{ age }}</h1>
  <p v-html="msg"></p>
  <p v-pre>{{ ceo }}</p>
  <p>{{ ceo }}</p>
  <HelloWorld msg="Welcome to Your Vue.js App"/>
</template>

<!-- 2.logic (Javascript) blox -->
<script>

export default {
  data(){
    return{
      name : "Mark",
      age: 45,
      msg: 'Test 1 Test 2 Test 3',
      ceo: 'Facebook'
    }
  }
}
</script>

<!-- 3.Style bloc -->
<style>
h1{
  color: aqua;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
